<div>
<table border="1" class="table table-responsive col-lg-12" style="margin-top: 4%">
    <tr >
    <td class="col-md-5" style="">
        Marque   : <strong class="text-right"> {{ annonce.objAnnonce.marque }}</strong>
    </td>

    <td class="col-md-5">
        Modele   :  <strong class="text-right">{{ annonce.objAnnonce.modele }}</strong>
    </td>
    </tr>
    <tr>
        <td class="col-md-5">
            Année   :  <strong class="text-right">{{ annonce.objAnnonce.annee }}</strong>
        </td>
        <td class="col-md-5">
            Kilometrage   :  <strong class="text-right">{{ annonce.objAnnonce.kilometrage }}</strong>
        </td>
    </tr>
    <tr>
        <td class="col-md-5">
            Energie   :   <strong class="text-right">{{ annonce.objAnnonce.energie }}</strong>
        </td>
        <td class="col-md-5">
            Boite Vitesse   :   <strong style="right: 0">{{ annonce.objAnnonce.BoitueVitesse }}</strong>
        </td>
    </tr>

</table>

</div>